.jumbotron {
  text-align: center;
  background-color: #FFE4B5;
}
h4.tan {
  color: #FFE4B5;
}
.sidebar {
  background-color: #8FBC8F;
  /*position: absolute;
  left:50px;*/
  padding: 15px;
  height: 1000px;
}
.background {
  background-color: #DCDCDC;
}

.blue {
  color: #1E90FF;
}
