.jumbotron {
  text-align: center;
  background-color: #FFE4B5;
}
h4.tan {
  color: #FFE4B5;
}
.sidebar {
  background-color: #8FBC8F;
  padding: 15px;
  height: 1000px;
}
.background {
  background-color: #DCDCDC;
}

.blue {
  color: #1E90FF;
}
img {
  border: solid #006400;
  width:300px;
  padding:12px;
}
#output {
  display: none;
}
